* {
  box-sizing: border-box;
}
.body {
  margin: 0 ;
  padding: 0;
  position: relative;
}
.header {
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  background-color: #333333;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  &__logo img {
    margin-left: 40px;
    width: 110px;
    height: 100px;
  }
  &__login {
    display: flex;
    margin: 20px 70px 0 0;
    }
    .login-left,.login-right,.login-center {
      color: #333;
      background-color: #fff;
      padding: 10px 15px;
      border-radius: 5px;
    }
    & a {
      text-decoration: none;
      margin: 10px 20px 0 20px;

    }
    & a:hover {
      text-decoration: none;
    }
}
.main {
  background-color: #fff;
  &-top {
    position: fixed;
    text-align: center;
    padding-top: 20px;
    color: #000;
    font-size: 50px;
    font-family: 'Permanent Marker', cursive;
  }
  .search-form {
    text-align: center;
    padding-top: 32px;
  }
  
  .search-form .search-input {
    width: 30%;
    margin-right: 10px;
    padding: 10px;
  }
  
  .search-form .search-btn {
    width: 10%;
    padding: 10px;
    background-color: #0DBC6C;
    border: none;
    border-radius: 5px;
    color: white;
  }
  
  .content {
    height: 430px;
    background-color: #fff;
    margin-top: 30px;
    box-shadow:
    0 1.9px 2.5px rgba(0, 0, 0, 0.057),
    0 5px 6.1px rgba(0, 0, 0, 0.076),
    0 10.1px 11.4px rgba(0, 0, 0, 0.086),
    0 19.2px 19.8px rgba(0, 0, 0, 0.092),
    0 38.4px 34.8px rgba(0, 0, 0, 0.1),
    0 101px 74px rgba(0, 0, 0, 0.13);
    .top_img img{
      height: 58%;
      width: 100%;
      text-align: center;
    }
    .bottom_img img {
      width: 60px;
      height: 60px;
    }
    .bottom_img {
      display: flex;
    }
    .user_name {
      margin-left: 10px;
      text-decoration: none;
      color: #333;
    }
    &__bottom {
      padding: 10px 10px 0 10px;
      font-size: 16px;
      color: #333;
      display: flex;
        &-recipe-name {
          padding: 10px;
        }
      }
      .content__bottom__recipe-like {
        color: #fff;
      }
      .bottom_img {
        padding-left: 10px;
      }
      .user_name,.recipe_name {
        display: flex;
      }
      .content__bottom-date {
        font-size: 14px;
        margin: 10px;
        
      }
      .btn--icon {
        color: #333;
        font-size: 30px;
        margin: 10px 0;
        cursor: pointer;
      }
      .btn--icon-top {
        color: rgb(255, 20, 20);
        font-size: 30px;
        margin: 10px 0;
      }
      .count {
        margin: 10px 0 0 10px;
      }
    }
  }
.footer {
  height: 60px;
  width: 100%;
  background-color: #333;
  p {
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding-top: 25px;
  }
}

