.users {
  height: auto;
  h2 {
    text-align: center;
    padding: 30px 0;
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
  }
  .content {
    width: auto;
    height: 400px;
    padding: 0;
    border: 1px solid #333333;
    width: 100%;
    margin: 10px auto;
    box-shadow:
    0 1.9px 2.5px rgba(0, 0, 0, 0.057),
    0 5px 6.1px rgba(0, 0, 0, 0.076),
    0 10.1px 11.4px rgba(0, 0, 0, 0.086),
    0 19.2px 19.8px rgba(0, 0, 0, 0.092),
    0 38.4px 34.8px rgba(0, 0, 0, 0.1),
    0 101px 74px rgba(0, 0, 0, 0.13);
    .users__name {
      padding: 20px;
      font-size: 25px;
      margin-top: 20px;
    }
    .users__image img {
      width: 100%;
      margin: 0;
      height: 60%;
      padding: 15px;
      border-radius: 50%;
    }
    a {
      text-decoration: none;
      color: #333333;
    }
    .count {
      font-size: 12px;
      padding: 20px 20px 0 20px;
    }
  }
}